.items-container{
    width: 100%;
    height: max-content;

}

.checkout{
    display: flex;
    width: 100%;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    gap: 2em;
    min-height: 80vh
}
.lado-izquierdo{
    width: 90%;
    height: max-content;
    padding: 2em 0
}
.checkout-item-box{
    display: flex;
    justify-content: space-around;
    gap: 1.5em;
    margin-top: 3em;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    padding: 1em;
    border-radius: 8px;
}

.checkout-data-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    max-width: 45%
}
.delete-buttom{
    font-size: 1.4rem;
    padding: .5em 1em;
    background: rgb(231, 97, 19);
    color: white;
    border: none;
    border-radius: 7px;
    margin-left: auto;
    cursor: pointer;
}
.checkout-stats{
    display: flex;
    font-size: 1.2rem;
    width: 100%;
    justify-content: flex-start;
    gap: 2em;
    align-items: flex-end;
}
.rating{
    color: gray
}
.price{
    font-size: 1.4em;
}
.lado-izquierdo h2{
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
}
.empty-cart-alert{
    font-size: 2rem;
    text-align: center;
}
.subtotal-box {
    width: 250px;
    height: 150px;
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(195, 195, 195);
   
}
.subtotal-box p{
    font-size: 1.2rem;
}
.gift-container{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -15px
}
.boton-checkout{
    width: 100%;
    background-color: rgb(243, 192, 83);
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 2px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 2px -4px rgba(0,0,0,0.75);
box-shadow: 0px 6px 2px -4px rgba(0,0,0,0.75);
cursor: pointer;
}

.imagen-checkout{
    max-width: 300px;
    width: 45%
    }

@media (max-width: 600px) {
    .checkout{
        flex-direction: column;
        align-items: center;
    }
    .lado-izquierdo h2{
        text-align: center;
    }
    .lado-derecho{
        width: 90%
    }
    .subtotal-box{
        margin: 0 auto
    }
}